

.container-binary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.form-save .radios div {
  display: block;
  margin: 10px 0;
}

.radios {
  display: flex;
  justify-content: center;
  gap: 70px;
  height: 70px;
  padding: 17px;
}

.level-max {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.list-binary {
  overflow: auto;
  display: flex;
  text-align: center;
  padding: 1px 25px 25px;
  margin-bottom: 30px;
}

.binary-volume p {
  text-align: center;
}

.binary-alpha {
  width: 325px;
}

.list-binary .list .item .font {
  color: #fff;
}

.list-binary .list .item,
.buttonApplyBinary {
  cursor: pointer;
}

.radios .font {
  margin-left: 7px;
  color: #fff;
}

.list-binary .list .item .font:hover {
  color: #ffeb3b;
}

.menu-icons {
  display: flex;
  gap: 40px;
}

/* animation tree */
.all-animation {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-top: 15px;
  cursor: pointer;
  width: 180px;
}

.animation {
  width: 75px;
  height: 65px;
}

.animation-p {
  margin-top: 15px;
}

/* tree */

.tree-container {
  width: 874px;
}

.tree {
  text-align: center;
  padding: 10px 50px 50px;
}

.background {
  background: url("../svg/three.svg") no-repeat center;
  height: 450px;
  background-size: contain;
}

.nivel1 {
  z-index: 1;
  text-align: center;
}
.nivel1 img {
  width: 150px;
  cursor: pointer;
}

.nivel2 {
  display: flex;
  gap: 319px;
  margin-left: 150px;
  margin-bottom: 27px;
}

.nivel2 p,
.nivel3 p,
.nivel4 p {
  position: relative;
}
.nivel2 p:nth-child(2) img {
  position: absolute;
  left: -7px;
}
.nivel2 img {
  width: 90px;
  cursor: pointer;
}

.nivel3 {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
}
.nivel3 img {
  width: 70px;
  cursor: pointer;
}

.nivel4 {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.nivel4 img {
  width: 75px;
  cursor: pointer;
}

.item {
  margin-top: 10px;
}

.binary-volume {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.container-binary-volum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.volume-value {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.container-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.div-search-container {
  display: flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
}

.input-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 180px;
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.input-border input {
  height: 22px;
  width: 170px;
  color: white;
  background-color: rgba(23, 4, 189, 1);
}

.total-leg{
  width: 400px;
  height: 300px;
  padding: 20px;
}

@media (max-width: 1220px) {
  .tree {
    padding: 0;
  }

  .tree-container {
    width: 475px;
  }

  .binary-volume {
    display: flex;
    gap: 8px;
    text-align: center;
    flex-wrap: wrap;
  }

  .binary-volume > div:nth-child(2) {
    order: 3;
    width: 100%;
  }

  .binary-volume > div:nth-child(3) {
    order: 2;
  }

  .binary-volume > div:nth-child(1) p,
  .binary-volume > div:nth-child(3) p {
    font-size: 22px !important;
  }
  .binary-volume > div:nth-child(1) > div p,
  .binary-volume > div:nth-child(3) > div p {
    font-size: 34px !important;
  }

  .nivel1 img {
    width: 100px;
    margin-top: 63px;
  }

  .nivel2 {
    display: flex;
    gap: 192px;
    margin-left: 90px;
    margin-bottom: 16px;
    margin-top: 13px;
  }

  .nivel2 img {
    width: 58px;
  }

  .nivel3 img {
    width: 48px;
  }

  .nivel4 {
    display: flex;
    gap: 17px;
    margin-top: 15px;
  }

  .nivel4 img {
    width: 45px;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }

  .binary-alpha {
    width: 100%;
  }

  .binary-alpha > div:first-child {
    order: 3;
  }
  .radios {
    gap: 0;
  }
  .tree-container {
    width: 100%;
    height: max-content;
  }

  .nivel1 img {
    margin-top: 64px;
    width: 100px;
  }
  .nivel2 {
    gap: 174px;
    margin-left: 84px;
    margin-bottom: 5px;
  }

  .nivel3 {
    margin-bottom: 13px;
  }

  .nivel4 {
    gap: 14px;
    margin-top: 5px;
  }
  .nivel4 img {
    width: 44px;
  }
}

@media (max-width: 460px) {
  .background {
    width: 290px;
    margin-left: 5px;
  }

  .all-animation {
    margin: 0 auto;
  }

  .tree {
    margin-top: 0px;
  }

  .binary-volume p {
    font-size: 16px !important;
  }

  .nivel1 img {
    width: 57px;
    margin-top: 128px;
  }

  .nivel2 {
    gap: 128px;
    margin-left: 56px;
    margin-bottom: 8px;
  }
  .nivel2 img {
    width: 31px;
  }
  .nivel3 img {
    width: 25px;
    margin-bottom: -2px;
  }
  .nivel4 {
    display: flex;
    gap: 12px;
  }
  .nivel4 img {
    width: 26px;
  }

  .nivel4 p:nth-child(8) img {
    position: absolute;
    left: 3px;
  }

  .nivel4 p:nth-child(5),
  .nivel4 p:nth-child(7),
  .nivel4 p:nth-child(8) {
    left: -5px;
  }

  .binary-volume > div:nth-child(3) p,
  .binary-volume > div:nth-child(1) p {
    font-size: 16px !important;
  }
  .binary-volume > div:nth-child(3) > div p,
  .binary-volume > div:nth-child(1) > div p {
    font-size: 22px !important;
  }
}
