@import "./default.css";

.login-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.logo-size {
  max-width: 300px;
}
.welcome {
  color: #ddd;
  text-align: center;
}
.div-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #aaa;
  padding-top: 20px;
  margin: 20px 0;
  width: 100%;
}
.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.label-form {
  color: #eee;
  min-width: 80px;
}
.input-password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.input-password-container .icon-password {
  position: absolute;
  display: block;
  background: url("../svg/show-password.svg") no-repeat center;
  cursor: pointer;
  right: 10px;
  width: 20px;
  height: 20px;
}
.input-password-container .icon-password.active {
  background-image: url("../svg/hide-password.svg") !important;
}
.password-options {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.fgt-password {
  color: #dda0dd;
  font-size: 11px;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
  width: 100%;
}
.button-rgb {
  width: 200px;
  height: 40px;
}
.register-anchor {
  color: #ddd;
  font-size: 14px;
  margin: 30px 0;
}

@media (max-width: 600px) {
  .main-container {
    width: 85%;
  }
  .form-login .input-container {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}
