/* title */


/* security */

.font-legend{
  color: white;
  font-size: 18px;
}

.security {
  width: 50px;
  display: flex;
  text-align: start;
}

label {
  font-size: 15px;
}
input {
  height: 30px;
}

.line-modal {
  display: flex;
  flex-direction: column;
}

label .modal-success {
  border: 10px solid #367ee2;
  margin: 0 auto;
  margin-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 530px;
  background: linear-gradient(
    0deg,
    rgba(34, 0, 127, 1) 0%,
    rgba(9, 9, 121, 1) 70%,
    rgba(41, 87, 167, 1) 100%
  );
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.button-rgb {
  padding: 10px 20px;
}

.line-modal {
  display: flex;
  justify-content: space-between;
}

.input-pin {
  width: 50px;
  text-align: center;
  height: 50px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #46e4cb;
  color: #46e4cb;
  font-size: 55px;
}

.pin {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-success {
  width: 500px !important;
  height: 100px !important;
  text-align: center;
  margin: auto;
}

.modal-success .font-legend {
  font-size: 23px;
}

.modal-success a {
  color: #fff;
  text-decoration-line: underline;
}

.modal-content {
  padding: 10px 20px;
  background: linear-gradient(
    0deg,
    rgba(34, 0, 127, 1) 0%,
    rgba(9, 9, 121, 1) 70%,
    rgba(41, 87, 167, 1) 100%
  );
}

.modal-footer {
  align-self: center;
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
  font-size: 25px;
  padding-bottom: 0 !important;
}

.modal-input {
  flex-direction: column;
  border-top: 5px solid #000 !important;
}

.modal-header.step .font-legend{
  font-size: 14px;
}

.modal-body.step > div{
  margin: 15px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.modal-body.step p {
  font-size: 13px;
  color: white;
}

.color-gold{
  color: #fed726;
}

.color-red{
  color: #ee0909;
}

.title-step{
  font-size: 18px;
  color: white;
}

.img-google-app img{
  height: 40px;
}

.step-2{
  margin: 15px 0;
}

.step-2 > div:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step-2 > div:last-child{
  margin-top: 10px;
}

.six-digits{
  display: flex;
  flex-direction: column;
}

.six-digits label{
  color: white;
}

.six-digits input{
  width: 150px;
  background: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  height: 35px;
  font-family: 'MontserratLight';
  letter-spacing: 1px;
}