@import "./style.css";

/* title */

.title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px 10px 0px 10px;
}

.box{
  margin-top: 10px;
}

/* saq */

.saq p:before,
.saq p:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgb(206, 201, 201);
  margin: 10px auto;
}

.saq {
  padding: 10px;
}

.saq p {
  font-size: 14px;
  color: #fff;
}

.container-saq{
  padding: 30px
}

/* form */

.form {
  padding: 10px;
  color: #fff;
}

.line {
  display: flex;
  gap: 50px;
  width: 100%;
}

.departament {
  width: 300px;
}

.departament p{
  margin-bottom: 5px;
}

.subject{
  width: 100%;
}

.file p{
  margin-bottom: 5px;
}

.subject input {
  background-color: rgb(33, 23, 90);
  height: 40px;
  width: 770px;
  margin-top: 5px;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.textarea {
  margin-top: 30px;
}
textarea {
  min-height: 200px;
  width: 100%;
  background-color: rgb(33, 23, 90);
  margin-top: 5px;
  color: #fff;
  padding: 10px;
}

button {
  display: flex;
  align-items: end;
  margin-top: 10px;
}

.line-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.faq{
  display:flex;
  flex-direction:row;
  gap: 7px;
}

.filter{
  padding: 30px;
  width: 270px;
}

.questions{
  padding:30px;
  width:100%;
}

.title-section{
  font-size:15px;
  border-bottom: 1px solid gray;
}

.title-questions{
  display: flex;
  font-size:13px;
  justify-content:space-between;
}

.content-questions{
  display: flex;
  flex-direction:column;
  margin: 40px 0;
  color: white;
}

.question-row{
  overflow: hidden;
  max-height: fit-content;
}

.question-row dt{
  padding: 20px 25px ;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
   user-select: none;
}

.question-row dd{
  letter-spacing: .5px;
  font-size: 14px;
  color: rgb(210,210,210);
}



.questions .content-questions .question-row .inner-accordion{
  padding: 0 30px 15px 40px;
}

.questions .content-questions .question-row .inner-accordion .font{
  display: flex;
  color: #aab5c2;
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.questions .content-questions .question-row{
  display: flex;
  background-color: #2828a5;
  border: 1px solid gray;
  margin-bottom: 5px;
  flex-direction: column;
}

.inner-accordion{
  display: none;
}

.inner-accordion.active{
  display: flex;
}

.btn-accordion{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.3;
  padding: 15px 30px 15px 40px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.btn-section{
  display:flex;
  flex-direction:column;
}

.btn-section .button-rgb{
  font-size: 11px;
}

.container-myTickets{
  display: flex;
  flex-direction:column;
  padding: 30px;
}

.container-myTickets .title-section .font{
  margin-bottom: 10px;
}

.container-myTickets .title-section{
  display:flex;
  justify-content: space-between;
}

.tickets-table{
  display:flex;
  flex-direction:column;
  padding-bottom: 30px;
}

.container-myTickets .tickets-table .list.head-table {
  background-color: transparent;
  border: 0;
}

.container-myTickets .tickets-table .list.head-table .list-item:first-child{
padding-left: 30px;
}

.container-myTickets .tickets-table .list-item:first-child{
  max-width: 170px;
  min-width: 170px;
}

.list .list-item:first-child > div{
  display: flex;
  align-items: center;
}

.container-myTickets .tickets-table .list-item:nth-child(2), 
.container-myTickets .tickets-table .list-item:nth-child(3){
  max-width: 190px;
  min-width: 190px;
}

.container-myTickets .tickets-table .list_item:last-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0;
}

.container-myTickets .tickets-table .list_item p{
  display: flex;
  font-size: 12px;
  color: #e0dfe9;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-myTickets .tickets-table .list-item{
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;  
}

.container-myTickets .tickets-table .list-item .date{
  display: flex;
  font-size: 12px;
  line-height: 1;
}

.container-myTickets .tickets-table .list-item a{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s;
}

.container-myTickets .tickets-table .list-item .department,
.container-myTickets .tickets-table .list-item .subject,
.container-myTickets .tickets-table .list-item .message{
  display: flex;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
}

.container-myTickets .tickets-table .list{
  display: flex;
  position: relative;
  padding: 15px;
  background-color: #262543;
  border: 1px solid #383755;
  margin-bottom: 2px;
}

.explanation{
  display: flex;
  padding: 0 10px;
}

.container-myTickets .explanation .list{
  display: flex;	
  width: 100%;
}

.container-myTickets .explanation .list-item{
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.container-myTickets .explanation .list-item span{
  display: inline-block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  padding-top: 5px;
}

.container-myTickets .explanation .list-item .icon{
  display: inline-block;
  width: 20px;
  min-width: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
}

.container-myTickets .tickets-table .list-item .icon{
  margin-right: 10px;
}

.icon-mail{
  color: #f9cf07;
  text-shadow: 0 0 4px #f9cf07;
}

.icon-lock{
  color: #15d6f0;
  text-shadow: 0 0 4px #15d6f0;
}

.icon-envelope-open-o{
  color: #219ecf;
  text-shadow: 0 0 4px #219ecf;
}

.list-item > span:nth-child(1){
  display: none;
}

@media (max-width: 800px){
  .title-section{
    flex-direction: column;
  }
  .line {
    flex-direction: column;
    gap: 20px;
  }
  .line-btn{
    flex-direction: column;
    gap: 8px;
  }
  .faq{
    flex-direction: column;
  }

  .faq > div:nth-child(2){
    width: 100% !important;
  }
  .container-myTickets .tickets-table .list.head-table{
    display: none;
  }
  .list{
    flex-wrap: wrap;
  }
  .list-item{
    flex-direction: column;
    align-items: flex-start !important;
    margin: 5px 0;
    gap: 3px;
  }
  .date{
    color: rgba(255, 255, 255, 0.8);;
  }

  .list-item > span:nth-child(1){
    display: flex;
  }
}

@media (max-width: 460px){
  .departament {
    width: 100% ;
  }
  .file{
    display: flex;
    flex-wrap: wrap;
  }
  .title-questions {
    flex-direction: column;
    gap: 10px;
  }
}
